:root {
    --base-color: #3c312f;
    --base-sub-color: #3c312f00;
    --sub-color: #2C2423;
    --text-main-color: #FFE6D1;
    --text-sub-color: #ffffff;
    --form-btn-color: #000;
    --main-title-size: 56px;
    --main-title-size--sp: 40px; 
    --top-view-title-size: 72px;
    --top-view-title-size--sp: 56px;
    --section-font-size--md: 40px;
    --section-font-size--md--sp: 32px;
    --section-font-size--sm: 20px;
    --articl-font-size: 36px;
    --articl-font-size--sp: 28px;
    --main--text-size: 16px;
    --main-view-bg-color: #1b1716cd;
    
}

* {
    scroll-behavior: smooth;
    background-color: var(--base-color);
    color: var(--text-main-color);
    font-family: "Lora", "Noto Serif JP", serif;
    margin: 0 auto;
    /* border: 1px solid #ffffff; */
}

body {
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto;

}

img {
    margin: 0;
    background-color: var(--base-sub-color);
}

h1,
.main--title {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--main-title-size);

    @media (max-width:600px) {
        font-size: var(--main-title-size--sp);
    }
}

h2 {
    font-size: var(--section-font-size);

    &.section--title__md {
        font-size: var(--section-font-size--md);
        text-transform: uppercase;
        background-color: var(--base-sub-color);
        text-align: center;
        margin-bottom: 80px;

       
    }

    &.section--title__sm {
        font-size: var(--section-font-size--sm);
        background-color: var(--base-sub-color);
        text-align: center;
        line-height: 40px;
        margin-bottom: 160px;

        @media (max-width:600px) {
        
        }
    }

    &.section--title__xlg {
        font-size: var(--top-view-title-size);
        background-color: var(--base-sub-color);
        padding-bottom: 40px;

        @media (max-width:600px) {
            font-size: var(--top-view-title-size--sp);
        }
    }

}

h3 {
    font-size: var(--articl-font-size);
    margin-bottom: 36px;

    @media (max-width: 600px) {
        font-size: var(--articl-font-size--sp);
    }
}

p,
a {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--main--text-size);
    line-height: 40px;
    word-break: break-word;
}

strong {
    border-bottom: 8px solid #f08f8f;
    background: var(--base-sub-color);
    color: #ffffff;
}

.section {
    max-width: 1440px;
    width: 100%;;
    padding: 240px 80px 0;

    @media (max-width:768px) {
        padding: 160px 40px 0;
    }

    @media (max-width:425px) {
        padding: 160px 24px 0;
    }
}

.contents--container {
    max-width: 1280px;
    width: 100%;
}

/* header */

.header {
    display: flex;
    /* max-width: 1440px; */
    width: 100%;
    padding: 0 20px;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 10
}

.header__logo {
    width: 30%;
    font-size: var(--section-font-size--sm);
    text-transform: uppercase;
    z-index: 1;

    @media (max-width:600px) {
        width: 50%;
    }
}

.header__nav {
    /* max-width: 1440px; */
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin: 0;

    @media screen and (max-width:1024px) {
        display: none;
    }
}

.nav__list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;



}

/* hamburger menu */
.hamburger {
    display: none;

    @media (max-width:1024px) {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 10;

    }
}

.hamburger__line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--form-hover-base-color);
    border-radius: 2px;
    transition: all 300ms ease;
    transform: rotate(0deg);
}

.hamburger__line:nth-child(1) {
    top: 0px;
}

.hamburger__line:nth-child(2) {
    top: 9px;
}

.hamburger__line:nth-child(3) {
    top: 18px;
}

.hamburger.open .hamburger__line:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}

.hamburger.open .hamburger__line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .hamburger__line:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
}

/* modal-menu */
.modal-menu {
    display: none;

    @media (max-width:1024px) {
        display: block;
        position: fixed;
        right: 0;
        flex-direction: column;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 300ms ease;
        width: 300px;
        background-color: var(--main-view-bg-color);
        color: var(--text-main-color);
        padding: 24px;
        gap: 16px;
        margin-top: 20px;
        margin: 0;
        z-index: 5;

    }
}

.modal-menu.open {
    opacity: 1;
    transform: translateY(45vh);

    visibility: visible;
}

.modal-menu__item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 16px;
    color: inherit;
    padding-bottom: 16px;

}

.modal-menu__item:last-child {
    border-bottom: none;
}

.modal-text {
    background: var(--base-sub-color);
}

/* アニメーション */
/* 上から下 */
.slide-top-enter-active,
.slide-top-leave-active {
    transition: all 300ms ease;

}

.slide-top-enter-from,
.slide-top-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}

.slide-top-enter-to,
.slide-top-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.btn {
    padding: 20px;
}

.form--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: 0;
    background-color: var(--form-btn-color);
}

/* top  */
.main--title {
    max-width: 1280px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 80px;

    @media (max-width:425px) {
        
        font-size: var(--section-font-size--sm);
    }
}

/* main-view */
.section-main-view {
    max-width: 1280px;
    width: 100%;
    height: 100vh;
}

.taitle--inner {
    width: 100%;
    display: flex;
    align-items: center;
    background: #1b1716cd;
    background: no-repeat url(../img/KIMG1904.JPG);
    background-size: cover;
    height: 100vh;
}

.title--area__main--viwe {
    padding: 40px;
    background: #1b1716cd;
}

/* concept */
.concept--garerry__wrapper {
    display: flex;
    flex-direction: column;
}

.concept--garerry__inner {
    position: relative;
    /* margin: 0; */
    padding-bottom: 120px;
}

.concept__message {
    text-align: center;

}

.concept__media--body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.consept--garerry__area--01 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;

    @media (max-width:425px) {
        display: block;
    }

    .concept--img01 {
        width: 33%;
        height: 100%;
        aspect-ratio: 9/12;
        object-fit: cover;

        @media (max-width:960px) {
            width: 25%;
        }

        @media (max-width:768px) {
            width: 50%;
        }

        @media (max-width:425px) {
            width: 100%;
           
        }
    }

    .concept__text--01 {
        padding: 80px 16px 0;
    }

    .concept--grerry__img--02 {
        width: 33%;
        display: flex;
        flex-direction: column;

        @media (max-width:960px) {
            width: 25%;
        }

        @media (max-width:768px) {
            display: none;
        }

        .concept--img02 {
            width: 100%;
            height: 50%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }

        .concept--img03 {
            width: 70%;
            margin-left: -150px;
            padding-top: 20%;

            @media (max-width:960px) {
                margin-left: 0;
            }

            
        }
    }

}

.consept--garerry__area--02 {
    position: relative;
    display: flex;
    height: 100%;
}

.consept--garerry__area--03 {
    margin: 0;
    display: flex;

    @media (max-width:425px) {
        display: block;
    }

    .concept--img04 {
        aspect-ratio: 570 / 400;
        width: 50%;
        object-fit: cover;

        @media (max-width:425px) {
            width: 100%;
            margin-bottom: 24px;
        }
    }
}

.consept--garerry__area--04 {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width:425px) {
        display: block;
    }

    .concept--img05 {
        width: 50%;
        aspect-ratio: 422 / 300;
        object-fit: cover;

        @media (max-width:425px) {
            width: 100%;
            margin-bottom: 24px;
        }
    }
}

/* menu */
.menu {
    padding: 240px 0 0;

    @media (max-width:768px) {
        padding: 160px 0 0;
    }
}

.menu--title {
    text-align: center;
}

.menu__media {
    display: flex;

    @media (max-width:425px) {
        display: block;
        width: 100%;
    }
   
}

.menu--img {
    width: 60%;
    height: 510px;
    object-fit: cover;

    @media (max-width:768px) {
        width: 50%;
    }

    @media (max-width:425px) {
        width: 100%;
        margin-bottom: 24px;
    }
}

article.media {
    width: 40%;
    padding: 0 160px 0 80px;

    @media (max-width:960px) {
        width: 50%;
        padding: 0 40px ;
        margin: 0;
    }

    @media (max-width:425px) {
        width: 100%;
    }
}

.menu__media--revers {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;

    @media (max-width:425px) {
        display: block;
    }
}

article.media--revers {
    padding: 0 80px 0 160px;

    @media (max-width:960px) {
        padding: 0 40px ;
    }
}

/* information */

.infomation {
    max-width: 1280px;
    width: 100%;
    height: auto;
}

.information__wrapper {
    background: no-repeat url(../img/KIMG1904.JPG);
    background-size: cover;
    width: 100%;
    height: auto;

    .information__inner {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        box-shadow: 0 0 9px -21px rgba(255, 255, 255, 0.4);
        padding: 120px;
        background: #1b171686;

        @media (max-width:768px) {
            padding: 80px 40px ;
        }

        @media (max-width:425px) {
            padding: 40px 24px;
        }
    }

    .information__text {
        color: #ffffff;
        background-color: var(--base-sub-color);
    }

    .reservation--btn {
        display: flex;
        height: 64px;
        background-color: var(--base-sub-color);
        padding: 40px 0 40px;
    }
}

/* garerry */
#garerry {
  padding: 120px 0 0;
}

.swiper {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-slide img{
width: 100%;
height: 200px;
object-fit: cover;
aspect-ratio: 4/3;

@media (max-width:768px) {
        height: 100px;
    }
}

/* adress */
.access__area {
    display: flex;
    gap: 20px;

    @media (max-width:768px) {
        display: block;
    }
}

.access-media {
    width: 50%;
    padding-left: 40px;

    @media (max-width:768px) {
        padding: 0;
    }

    .holiday {
        margin-bottom: 20px;
    }

    .btn {
        background-color: var(--form-btn-color);
        padding: 16px;

    }

    .section--title__sm {
        text-transform: uppercase;
        margin-top: 36px;
    }

    .sns-list {
        display: flex;
        width: 50%;
        margin: 0 0 40px 0;

        .mdi--facebook {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFE6D1' d='M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02' stroke-width='0.1' stroke='%23FFE6D1'/%3E%3C/svg%3E");
        }

        .mdi--instagram {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFE6D1' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3' stroke-width='0.1' stroke='%23FFE6D1'/%3E%3C/svg%3E");
        }
    }
}

.map {
    width: 50%;
    padding-right: 40px;
    height: auto;
    object-fit: cover;
    overflow: hidden;

    @media (max-width:768px) {display: block;
        width: 100%;
        margin-bottom: 24px;
        padding: 0;  
    }
}

/* footer */
footer {
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-color);

    .section--title__md {
        margin-bottom: 0;
    }
}
